@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

:root{
  --header-height: 80px
}


.input-error{
  .input{
    @apply border border-red-400
  }
  label{
    @apply text-red-500
  }
}

.input{
  @apply border focus:border-primary border-neutral-600/20 outline-none rounded-md py-1.5 px-3 text-gray-700 transition transition-colors
}

.btn{
  @apply bg-primary outline-none border-none text-white py-2 px-4 rounded-md ;
  box-sizing: border-box;

  &-outline{
    border: 2px solid;
    @apply bg-transparent border-primary text-primary hover:bg-primary hover:text-white;
  }

}
.container{
  max-width: 1290px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px
}


.popup{
  transition: all .4s ease;
  &--close{
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
  }
  &--open{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;

  }
}

.banner{
  background: linear-gradient(136deg, #7b29ff, #140662);
  height: 700px;
  width: 100%;
  padding: 100px;
  .banner-filter-form{
    bottom: -90%;
    position: relative;
    width: 800px;
    margin: auto;
  }
}


.section-title{
  @apply text-5xl font-bold text-gray-900
}

.card{
  @apply shadow p-5 rounded-md bg-white shadow-xxs hover:shadow-xs transition transition-shadow
}

.navigation-height{
  height: var(--header-height);
}

.social-link-item{
  transition: all .5s ease;
  @apply text-xl p-3 flex justify-center items-center border border-gray-300/40 hover:bg-white rounded-full;
  &:hover{
    svg{
    fill: #0070f3;

    }
  }
}