@import "styles/--mixin";

.sidebar {
    width: var(--sidebar-width);
    height: inherit;
    box-shadow: 10px 0 13px -7px #dbdbdb;
    background: #faf9fb;
    position: relative;
    z-index: 100;
    &-item {
        @apply flex items-center gap-x-2 py-2 my-2 hover:bg-gray-100 px-4 text-sm font-medium hover:text-primary;
        img {
            transition: filter .29s ease 0s;
            filter: grayscale(100%)
        }

        &:hover {
            img {
                filter: hue-rotate(276deg);
            }
        }
    }

    margin-left: -300px;
    transition: margin-left .4s ease;

    @include getUp(1000px) {
        margin-left: 0;
    }

    @include getDown(1000px) {
        position: fixed;
        left: -20px;
        background: white;
        z-index: 1000;
    }

    &-open {
        margin-left: 0;
        left: 0px;
    }
}

.sidebar-backdrop {
    background: rgba(47, 47, 47, 0.26);
    @include getUp(1000px) {
        display: none;
    }
}

